<div class="students-container">
  <div class="row">
    <div class="col-md-6 text-center">
      <span>共</span>
      <span class="bold">{{students.length}}</span>
      <span>名学生</span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped table-hover table-condensed table-bordered">
        <caption class="little-font">学生列表</caption>
        <thead>
          <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students" (click)="goDetail(student.id)">
            <td class="success">{{student.id}}</td>
            <td class="success">{{student.name}}</td>
            <td class="success">{{student.age}}</td>
            <td class="success">
              <input type="button" class="btn btn-xs btn-success" value="删除" (click)="delete(student)">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <div class="row">
      <div class="col-md-6">
        <span class="bold">添加</span>
      </div>
    </div>
    <form [formGroup]="studentForm" novalidate style="padding: 10px">
      <div class="input-group row">
        <label class="input-group-addon" class="col-md-1">ID:</label>
        <input formControlName="id" class="form-control" class="col-md-2"/>
      </div>
      <div class="input-group row">
        <label class="input-group-addon" class="col-md-1">姓名:</label>
        <input formControlName="name" class="form-control"  class="col-md-2"/>
      </div>
      <div class="input-group row">
        <label class="input-group-addon" class="col-md-1">年龄:</label>
        <input formControlName="age"class="form-control" class="col-md-2"/>
      </div>
      <div class="row">
        <div class="col-md-6">
          <input type="button" class="btn btn-xs btn-success" (click)="add()" value="添加">
        </div>
      </div>
    </form>
  </div>
</div>